#header {
  @include flexCenter();
  align-items: center;
  position: relative;
  height: 57vw;
  padding: 0 10%;
  margin-bottom: 10%;
  background-image: url(../../public/images/decorations/header.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Caveat Brush";
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $fontColor;
  font-size: 3.4vw;
  font-weight: 400;
  margin-bottom: 4%;

  .intro-text {
    margin-bottom: 3%;
    line-height: 1.7;
  }

  .highlighted-text {
    color: $pink;
    font-size: 4.6vw;
    display: inline-block;
  }
}

.header-image {
  position: absolute;
  right: 0;
  bottom: -25%;
  height: 47vw;
  z-index: 1;
  transition: all 0.5s ease;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

.header-background {
  position: absolute;
  left: -20%;
  right: 0;
  top: 71%;
  width: 55vw;
  -webkit-animation: spin 150s linear infinite;
  -moz-animation: spin 150s linear infinite;
  animation: spin 150s linear infinite;
  z-index: 1;
}

.intro-text-hidden,
.button-wrapper {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1.5s;
  transition-delay: 1s;
}

.button-wrapper {
  transform: translateY(100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.bounce-header {
  opacity: 1;
  animation-name: bounce-header;
  animation-duration: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3.2vw);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3.2vw);
  }
}

@keyframes bounce-header {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.2vw);
  }
  60% {
    transform: translateY(-1vw);
  }
}

@media screen and (max-width: 768px) {
  .highlighted-text {
    font-size: 4.8vw;
  }
}
