#header {
  height: 57vw;
  padding: 0 10%;
  background-color: linear-gradient(
    180deg,
    #131929 49.5%,
    #1c223b 76.5%,
    #2a3257 100%
  );
  background-color: #131929;
  background-image: url(../../public/images/icons/Group\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
