#projects {
  padding: 0 10%;
}

#projects {
  padding: 5% 10%;
}

.projects-header {
  font-weight: bold;
  font-size: 3vw;
  margin-bottom: 10%;
  color: #d672b4;
}

.project-item {
  display: flex;
  margin-bottom: 20%;
}

.project-image {
  height: 30vw;
  width: 50%;
}

.project-name {
  font-weight: bold;
  color: #93da9e;
  font-size: 1.5vw;
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 1.5;
}

.project-name:hover,
.project-name:active,
.project-name::selection {
  text-decoration: underline;
}

.project-description {
  line-height: 2;
  color: #ced8f8;
  font-size: 1.2vw;
}

.project-stack {
  display: flex;
}

.stack-item {
  color: #93da9e;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #93da9e;
  padding: 0.3vw 1vw;
  margin-right: 1vw;
  margin-top: 0.5vw;
  font-size: 1vw;
}
