.App {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: start;
}

button {
  color: #93da9e;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.1vw;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #93da9e;
  padding: 1.2vw 2.2vw;
  cursor: pointer;
}

#wrapper {
  background-image: url(../public/images/decorations/wrapper.png);
  background-size: cover;
}
