#App {
  text-align: center;
  font-family: "Baloo 2";
  font-weight: 500;
  text-align: start;
  background-color: #283155;
  display: none;
}

button {
  color: #93da9e;
  font-family: "Baloo 2";
  font-weight: 600;
  font-size: 1.2vw;
  background-color: transparent;
  padding: 0.8vw 3vw;
  cursor: pointer;
  border: 0 solid;
  box-shadow: inset 0 0 0.2vw rgba(255, 255, 255, 0);
  outline: 0.1vw solid;
  outline-color: #93da9e(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 0.1);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  transform: scale(1.05);
}

.title {
  font-size: 3.7vw;
}

#wrapper {
  background-image: url(../public/images/decorations/wrapper.jpeg);
  background-size: cover;
}

#container {
  transition: all 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #141a2a;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
  font-family: "Baloo 2";
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: transparent;
}

#container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-radius: 100%;
  background: transparent;
  display: block;
  box-shadow: 0 0 150px 100px rgba(40, 49, 85, 0.8),
    200px 0 200px 150px rgba(40, 49, 85, 0.8),
    -250px 0 300px 150px rgba(40, 49, 85, 0.8),
    550px 0 300px 200px rgba(40, 49, 85, 0.8),
    -550px 0 300px 200px rgba(40, 49, 85, 0.8);
}

h1 {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  display: block;
  text-align: center;
  opacity: 0;
  transition: all 2.5s ease;
  z-index: 1;
}

h1 span {
  position: relative;
  display: inline-block;
  -webkit-animation: bounce 2s ease infinite alternate;
  font-size: 4.5rem;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(40, 49, 85, 0.5);
}

h1 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

h1 span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

@keyframes moveObject {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(100%, 0);
  }
}

.moving-object {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 8s linear infinite;
  opacity: 0;
}
.star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, yellow, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.star:nth-child(1) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 1.5s;
}
.star:nth-child(2) {
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 1.5s;
}
.star:nth-child(3) {
  top: 0;
  right: 1300px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.25s;
}
.star:nth-child(4) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 1.5s;
}
.star:nth-child(5) {
  top: 0;
  right: 1500px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 2s;
}
.star:nth-child(6) {
  top: 300px;
  right: -300px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 1.2s;
}
.star:nth-child(7) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.9s;
  animation-duration: 1.3s;
}
.star:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.1s;
  animation-duration: 1s;
}

.container {
  z-index: 100;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease-in;
}

.star-1 {
  position: relative;
  background-color: #fffdfd;
  top: 50px;
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #fffdfd, -70px 150px 1px 0 #fffdfd,
    290px 150px 1px -1px #0f00bf, -90px 100px 1px -1px #0c5dcc,
    270px 10px 1px 0.11px #fffdfd, 390px 80px 1px -0.6px #0c5dcc,
    -30px 120px 3px -1px #0f00bf;
  animation: pulsate 5s ease;
  animation-iteration-count: infinite;
}

.star-2 {
  position: absolute;
  background-color: #ffff00;
  top: 100px;
  left: -60px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px #ffff00, -99px 30px 1px 0.09px #ffff00,
    355px 30px 0.5px 1px #ffff00, 400px -30px 1px -1px #ffff00,
    400px 90px 1px -1px #ffff00, -50px -30px 1px -1px #ffff00;
  animation: pulsate 7s ease;
  animation-iteration-count: infinite;
}

.moon {
  background-color: #b2b2b2;
  position: relative;
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  box-shadow: 5px 0 10px 3px rgba(229, 229, 229, 0.3),
    0 0 10px 2px rgba(229, 229, 229, 0.3),
    5px 0 10px 3px rgba(229, 229, 229, 0.3),
    0px 0 3px 2px rgba(229, 229, 229, 0.3);
  margin: auto;
}

.moon::after {
  content: "";
  background-color: rgba(162, 162, 162, 0.81);
  display: block;
  position: absolute;
  left: 160px;
  top: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 3px 0 0 1px rgba(98, 98, 98, 0.51),
    7px 45px 0 -5px rgba(162, 162, 162, 0.9),
    9px 45px 0 -5px rgba(100, 100, 100, 0.51),
    35px 20px 0 -10px rgba(162, 162, 162, 0.9),
    37px 20px 0 -10px rgba(100, 100, 100, 0.51);
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  button {
    font-size: 1.6vw;
  }
  .title {
    font-size: 4vw;
  }
  .moon {
    width: 16.5rem;
    height: 16.5rem;
  }
  h1 span {
    font-size: 3.2rem;
  }
}
